<header class="main-header">
  <div class="header-left">
    <img src="/assets/logo.png" class="header-logo" alt="BE I.T Logo"/>
    <span class="current-date">{{ currentDate | date:' d MMMM y' }}</span>
  </div>

  <div class="header-center">
    <h1 class="site-title">BE I.T CLASSROOM</h1>
  </div>

  <div class="header-right">
    <div class="notification-wrapper" (click)="toggleNotifications()">
    </div>

    <div class="profile-wrapper" (click)="openProfile()">
    </div>
  </div>
</header>