<h2 mat-dialog-title>Assigner des formateurs</h2>
<mat-dialog-content>
    <mat-selection-list [multiple]="true" [(ngModel)]="selectedFormateurs">
        <mat-list-option *ngFor="let formateur of formateurs" [value]="formateur.id">
            {{ formateur.utilisateur.prenom }} {{ formateur.utilisateur.nom }}
        </mat-list-option>
    </mat-selection-list>
    <p *ngIf="formateurs.length === 0" class="no-formateur">Aucun formateur chargé</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button class="btn-noir" (click)="onCancel()">Annuler</button>
    <button mat-raised-button class="btn-or" (click)="onAssign()">Assigner</button>
</mat-dialog-actions>