<!-- <div class="layout-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
    <div class="vertical-overlay"></div>
    <div class="main-content">
        <app-content></app-content>
        <app-footer></app-footer>
    </div>
</div> -->


<div class="layout-wrapper">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <app-sidebar
    [isCollapsed]="isSidebarCollapsed" 
  [isSidebarOpen]="isSidebarOpen"
  (closeSidebar)="closeSidebar()"></app-sidebar>

    <div class="main-content">
        <div class="router-content"> <!-- Nouveau conteneur -->
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>