<div class="layout-wrapper">
    <app-sidebar
        [isCollapsed]="sidebarCollapsed()"
        [isMobile]="isMobile()"
        [showSidebar]="showSidebar()"
        (closeSidebar)="closeSidebarOnMobile()"
        class="layout-sidebar"
    ></app-sidebar>

    <div class="sidebar-overlay" 
         [class.visible]="showSidebar() && isMobile()"
         (click)="closeSidebarOnMobile()"></div>

    <app-header (toggleSidebar)="toggleSidebar()" ></app-header>

    <div class="main-content" [class.sidebar-open]="showSidebar() && isMobile()">
        <div class="router-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>