<aside class="sidebar" [class.sidebar-open]="isOpen">
  <nav class="sidebar-nav">
    <ul>
      <li *ngFor="let item of filteredSidebarItems">
  <div *ngIf="item.children && item.label !== 'Formations'">
    <a (click)="toggleExpansion(item)">
      <mat-icon>{{item.icon}}</mat-icon>
      <span class="menu-label">{{item.label}}</span>
      <mat-icon class="dropdown-icon">
        {{ isExpanded(item) ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </mat-icon>
    </a>
    <div class="submenu" [class.expanded]="isExpanded(item)">
      <ul>
        <li *ngFor="let submenu of item.children">
          <a (click)="navigateAndClose(submenu.route)" 
             [class.active]="isRouteActive(submenu.route, submenu.exact)">
            <mat-icon>{{submenu.icon}}</mat-icon>
            <span class="menu-label">{{submenu.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Cas spécial Formations : enfants affichés directement, sans bouton, avec décalage -->
  <div *ngIf="item.children && item.label === 'Formations'">
    <a>
      <mat-icon>{{item.icon}}</mat-icon>
      <span class="menu-label">{{item.label}}</span>
    </a>
    <div class="submenu always-expanded">
      <ul>
        <li *ngFor="let submenu of item.children">
          <a (click)="navigateAndClose(submenu.route)" 
             [class.active]="isRouteActive(submenu.route, submenu.exact)">
            <mat-icon>{{submenu.icon}}</mat-icon>
            <span class="menu-label">{{submenu.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="!item.children">
    <a (click)="navigateAndClose(item.route)" 
       [class.active]="isRouteActive(item.route, item.exact)">
      <mat-icon>{{item.icon}}</mat-icon>
      <span class="menu-label">{{item.label}}</span>
    </a>
  </div>
</li>

    </ul>
  </nav>
</aside>