<div class="sidebar-overlay" [class.visible]="isSidebarOpen && isMobile" (click)="onCloseSidebar()"></div>

<nav class="sidebar" [class.open]="isSidebarOpen" [class.collapsed]="isCollapsed">
  <ul>
    <li *ngFor="let item of filteredSidebarItems">
      <div *ngIf="item.children">
        <a (click)="toggleExpansion(item)">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="menu-label">{{item.label}}</span>
          <mat-icon style="margin-left: auto;">{{ isExpanded(item) ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
        </a>
        <ul *ngIf="isExpanded(item)" class="submenu">
          <li *ngFor="let submenu of item.children">
            <a [routerLink]="submenu.route" 
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: submenu.exact}">
              <mat-icon>{{submenu.icon}}</mat-icon>
              <span class="menu-label">{{submenu.label}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="!item.children">
        <a [routerLink]="item.route" 
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: item.exact}">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="menu-label">{{item.label}}</span>
        </a>
      </div>
    </li>
  </ul>
</nav>