<nav class="sidebar" [class.open]="isSidebarOpen">

  <ul>
    <li *ngFor="let item of filteredSidebarItems">
      <a [routerLink]="item.route" routerLinkActive="active">
        <mat-icon>{{item.icon}}</mat-icon>
        <span class="menu-label">{{item.label}}</span>
      </a>
    </li>
  </ul>

  <div class="logout-container">
    <button class="logout-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="menu-label">Déconnexion</span>
    </button>
  </div>
</nav>