<main>
  <div class="login-container">
    <div class="login-header">
      <img src="assets/logo.jpg" alt="Logo BE I.T. CLASSROOM" class="logo" />
      <h2>BE I.T. CLASSROOM</h2>
      <p class="subtitle">Connectez-vous à votre espace</p>
    </div>

    <form class="login-form" (ngSubmit)="login()">
      <div *ngIf="errorMessage" class="form-error-popup">
        {{ errorMessage }}
        <button (click)="errorMessage = null">X</button>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-wrapper">
          <input type="email" id="email" name="email" placeholder="Entrez votre email" autocomplete="email" required
            aria-required="true" [(ngModel)]="credentials.login" />
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <div class="input-wrapper">
          <input [type]="passwordFieldType" id="password" name="password" placeholder="Entrez votre mot de passe"
            autocomplete="current-password" required aria-required="true" [(ngModel)]="credentials.password" />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()"
            aria-label="Toggle password visibility">
            <i class="fa" [ngClass]="
                passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'
              "></i>
          </button>
        </div>
      </div>

      <button type="submit" class="login-btn" [disabled]="isLoading">
        <span *ngIf="!isLoading">Se connecter</span>
        <span *ngIf="isLoading">Connexion en cours...</span>
      </button>

      <div class="login-footer">
        <a href="##" class="forgot-password">Mot de passe oublié ?</a>
      </div>
    </form>
  </div>

  <footer class="auth-footer">
    <p>&copy; {{ currentYear }} BE IT AFRICA. Tous droits réservés.</p>
  </footer>
</main>