<footer class="site-footer">
  <div class="footer-main">
    <div class="container">
      <div class="row">
        
        <!-- Colonne Logo et Description -->
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 footer-logo-container">
          <div class="footer-logo">
            <a routerLink="/">
              <img src="assets/logo.jpg" alt="" width="160">
            </a>
          </div>
          <div>
            <p class="footer-description">
              BE I.T AFRICA met le numérique au service de l'Afrique : entreprises, associations, institutions publiques et citoyens.
            </p>
          </div>
        </div>


        <!-- Colonne Navigation -->
        <div class="col-12 col-md-6 col-lg-2 col-xl-3 quick-links-container">
          <h3 class="footer-title">Navigation</h3>
          <div class="quick-links">
            <ul>
              <li><a routerLink="" (click)="navigateTo('')">Accueil</a></li>
              <li><a routerLink="/formations" (click)="navigateTo('/formations')">Formations</a></li>
              <li><a routerLink="/about" (click)="navigateTo('/about')">À propos</a></li>
              <li><a routerLink="/contact" (click)="navigateTo('/contact')">Contact</a></li>
            </ul>
          </div>
        </div>

        <!-- Colonne Contact -->
        <div class="col-12 col-md-6 col-lg-2 col-xl-3 contact-info-container">
          <h3 class="footer-title">Contactez-nous</h3>
          <address class="contact-info">
            <div class="contact-item">
              <i class="fas fa-phone"></i>
              <a href="tel:+1232349844745">+237 654 820 309</a>
            </div>
            <div class="contact-item">
              <i class="fas fa-envelope"></i>
              <a href="mailto:info@demolink.org">beitafrica.org</a>
            </div>
            <div class="contact-item">
              <i class="fas fa-map-marker-alt"></i>
              <span>Yaoundé, Cameroun</span>
            </div>
          </address>
        </div>
      </div>  
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="footer-content">
        <div class="copyright">
          <p>&copy; {{ currentYear }} BE I.T AFRICA. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </div>
</footer>